:root {
  --background: rgb(255, 255, 255);
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0;
background: rgb(255, 255, 255);
font-family: 'Work Sans', sans-serif;
font-weight: 400;
}
/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: rgb(51, 51, 51);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: #000;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
      grid-column: 2 / 3;
      font-size: 2rem;
    }
    
    nav {
      // all: unset; 
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;    
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: rgb(255, 230, 0);
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  }
    .container {
        max-width: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 812px;
    }
    .container-top{
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing:10px;    
        margin-bottom: 50px;
        margin-right: 76px;
        margin-left: 76px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
  
    .responsive-img{
        height: auto;
        width: 100%;
    }
    /* Top logo section */

    .about-container {
      width: ;
      position: relative;
    margin-right: auto;
    margin-left: auto;

    }
    .div-block-4 {
        position: relative;
        margin-top: 0;
    } 
    .sketch-holder {
      display: block;
      width: 300px;
      height: 180px;
      margin-right: auto;
      margin-left: auto;
  }
.about-text-block {

    margin-right: 5%;
    margin-left: 5%;
    margin-top: 30px;
}
.w-container{
  max-width: 812px;
  max-height: 320px;
}
.personal-heading {
    margin-top: 15px;
    margin-bottom: 0;
    font-family: Montserrat,sans-serif;
    font-size: 25px;
    line-height: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    
}
.bio-heading {
    margin-top: 40px;
    margin-bottom: 16px;
    margin-right: 0%;
    margin-left: 0%;
    flex: 0 auto;
    border-style: none;
    border-width: 1px;
    border-color: #000 #000 rgba(0,0,0,.5);
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}
.biography-text {
  max-width: 812px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    line-height: 27px;
    font-weight: 400;
    text-decoration: none;
    white-space: pre-wrap;
    object-fit: fill;
}

.columns-edu {
  max-width: 812px;
    position: static;
    overflow: visible;
    margin-bottom: 20px;
    text-align: left;
    margin-right: 1%;
    margin-left: 1%;
}
.w-col-6 {
  max-width: 812px;
    width: 50%;
}
.w-col  {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 0px;
    padding-right: px;
    padding-bottom: 20px;
}
.text-span-9 {
    display: inline;
    border-style: none none solid;
    border-width: 1px 1px 4px;
    border-color: #fff02f;
    white-space: normal;
}
.research-text {
    display: none;
    margin-top: -10px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    white-space: pre-wrap;
    object-fit: fill;
}

.bio-heading {
    margin-top: 40px;
    margin-bottom: 16px;
    flex: 0 auto;
    border-style: none;
    border-width: 1px;
    border-color: #000 #000 rgba(0,0,0,.5);
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}
.text-span-9 {
  font-size: 25px;
    display: inline;
    border-style: none none solid;
    border-width: 1px 1px 4px;
    border-color: #fff02f;
    white-space: normal;
}
.text-block-11 {
  
    font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-left: px;
    margin-right: px;
}
.text-block-12 {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin-left: 55px;
    margin-right: 55px;
}
.text-block-14 {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-left: 55px;
    margin-right: 55px;
}

 /* Footer */
 .footer {
   font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(194, 194, 194);
  text-align: center;
}
/* Footer */